<!-- Modal -->
<div class="modal fade" id="AddRoom" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ 'Rooms.AddRoom' | translate}}</h5>
        <button
          #closeModal
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form1">
          <div class="form-group">
            <label>{{ 'Rooms.RoomNumber' | translate}}</label>
            <input
              type="text"
              class="form-control"
              id="RoomNumber"
              [placeholder]=" 'Rooms.RoomNumber' | translate"
              formControlName="txtRoomNumber"
            />
            <span
            class="invalid-feedback"
              *ngIf="
                form1.controls['txtRoomNumber'].touched &&
                form1.hasError('required', 'txtRoomNumber')
              "
            >
            {{ 'Validation.required' | translate}}</span
            >
          </div>

          <div class="form-group">
            <label>{{ 'RoomTypes.Type' | translate}}</label>
            <select
              class="form-select"
              formControlName="selectRoomType"
              aria-label="Room Type"
            >
              <option selected disabled>{{ 'Rooms.Select' | translate}}</option>
              <option *ngFor="let type of roomTypes" [value]="type.id">
                {{ type.typeName }}
              </option>
            </select>
            <span
            class="invalid-feedback"
              *ngIf="
                form1.controls['selectRoomType'].touched &&
                form1.hasError('required', 'selectRoomType')
              "
            >
            {{ 'Validation.required' | translate}}</span
            >
          </div>

          <button
            type="submit"
            class="btn btn-primary w-100 mt-3"
            (click)="onSubmit()"
          >
          {{ 'Rooms.AddRoom' | translate}}
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
