<!-- Modal -->
<div class="modal fade" id="EditGuest" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ 'Guests.EditGuest' | translate}}</h5>
        <button
          #closeModal
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form1">
          <div class="form-group">
            <label>{{ 'Guests.FirstName' | translate}}</label>
            <input
              type="text"
              class="form-control"
              id="GuestFirstName"
              [placeholder]="'Guests.FirstName' | translate"
              formControlName="txtFirstName"
            />
            <span
            class="invalid-feedback"
              *ngIf="
                form1.controls['txtFirstName'].touched &&
                form1.hasError('required', 'txtFirstName')
              "
            >
            {{ 'Validation.required' | translate}}</span
            >
          </div>

          <div class="form-group">
            <label>{{ 'Guests.LastName' | translate}}</label>
            <input
              type="text"
              class="form-control"
              id="GuestLastName"
              [placeholder]="'Guests.LastName' | translate"
              formControlName="txtLastName"
            />
            <span
            class="invalid-feedback"
              *ngIf="
                form1.controls['txtLastName'].touched &&
                form1.hasError('required', 'txtLastName')
              "
            >
            {{ 'Validation.required' | translate}}</span
            >
          </div>

          <div class="form-group">
            <label>{{ 'Guests.DateOfBirth' | translate}}</label>
            <input
              type="date"
              class="form-control"
              id="GuestDOB"
              formControlName="dateDOB"
            />
            <span
            class="invalid-feedback"
              *ngIf="
                form1.controls['dateDOB'].touched &&
                form1.hasError('required', 'dateDOB')
              "
            >
            {{ 'Validation.required' | translate}}</span
            >
          </div>

          <div class="form-group">
            <label>{{ 'Guests.Email' | translate}}</label>
            <input
              type="text"
              class="form-control"
              id="GuestEmail"
              [placeholder]="'Guests.Email' | translate"
              formControlName="txtEmail"
            />
            <span
            class="invalid-feedback"
              *ngIf="
                form1.controls['txtEmail'].touched &&
                form1.hasError('required', 'txtEmail')
              "
            >
            {{ 'Validation.required' | translate}}</span
            >
            <span
            class="invalid-feedback"
              *ngIf="
                form1.controls['txtEmail'].touched &&
                form1.hasError('email', 'txtEmail')
              "
            >
            {{ 'Validation.Email' | translate}}</span
            >
          </div>

          <div class="form-group">
            <label>{{ 'Guests.ContactNumber' | translate}}</label>
            <input
              type="text"
              class="form-control"
              id="GuestContactNumber"
              [placeholder]="'Guests.ContactNumber' | translate"
              formControlName="txtContactNumber"
            />
            <span
            class="invalid-feedback"
              *ngIf="
                form1.controls['txtContactNumber'].touched &&
                form1.hasError('required', 'txtContactNumber')
              "
            >
            {{ 'Validation.required' | translate}}</span
            >
            <span
            class="invalid-feedback"
              *ngIf="
                form1.controls['txtContactNumber'].touched &&
                form1.hasError('pattern', 'txtContactNumber')
              "
            >
            {{ 'Validation.Phone' | translate}}</span
            >
          </div>

          <div class="form-group">
            <label>{{ 'Guests.DocumentNumber' | translate}}</label>
            <input
              type="text"
              class="form-control"
              id="DocumentNumber"
              [placeholder]="'Guests.DocumentNumber' | translate"
              formControlName="txtDocumentNumber"
            />
            <span
            class="invalid-feedback"
              *ngIf="
                form1.controls['txtDocumentNumber'].touched &&
                form1.hasError('required', 'txtDocumentNumber')
              "
            >
            {{ 'Validation.required' | translate}}</span
            >
          </div>

          <button
          class="invalid-feedback"
            type="submit"
            class="btn btn-primary w-100 mt-3"
            (click)="onSubmit()"
          >
          {{ 'Guests.EditGuest' | translate}}
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
