<div class="d-flex flex-column flex-shrink-0 p-3 bg-light vh-100">
  <a
    href="/"
    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none"
  >
    <span class="fs-4">Hotel Management</span>
  </a>
  <hr />

  <ul class="nav nav-pills flex-column mb-auto">
    <a *ngFor="let item of filteredMenu"
        [routerLink]="item.path"
        routerLinkActive="active"
        class="nav-link link"
        [innerHTML]="item.text"
      >
        
      </a>
   
  </ul>
  <hr />

  <a class="btn btn-danger" (click)="logout()">
    <span class="d-none d-lg-inline" >Logout</span>
  </a>
</div>
