
<!-- Modal -->
<div class="modal fade" id="EditRoomType" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{'RoomTypes.EditRoomType' | translate}}</h5>
        <button
          #closeModal
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form1">
          <div class="form-group">
            <label>{{'RoomTypes.Type' | translate}}</label>
            <input
              type="text"
              class="form-control"
              id="RoomType"
              [placeholder]="'RoomTypes.Type' | translate"
              formControlName="txtRoomType"
            />
            <div
              class="invalid-feedback"
              *ngIf="
                form1.controls['txtRoomType'].touched &&
                form1.hasError('required', 'txtRoomType')
              "
            >
            {{'Validation.required' | translate}}            </div>
          </div>

          <div class="form-group">
            <label>{{'RoomTypes.Capacity' | translate}}</label>
            <input
              type="number"
              class="form-control"
              id="Capacity"
              [placeholder]="'RoomTypes.Capacity' | translate"
              formControlName="txtCapacity"
            />
            <div
              class="invalid-feedback"
              *ngIf="
                form1.controls['txtCapacity'].touched &&
                form1.hasError('required', 'txtCapacity')
              "
            >
            {{'Validation.required' | translate}}
            </div>
            <div
              class="invalid-feedback"
              *ngIf="
                form1.controls['txtCapacity'].touched &&
                form1.hasError('min', 'txtCapacity')
              "
            >
            {{'Validation.Capacity' | translate}}
            </div>
          </div>

          <div class="form-group">
            <label>{{'RoomTypes.Price' | translate}}</label>
            <input
              type="text"
              class="form-control"
              id="Price"
              [placeholder]="'RoomTypes.Price' | translate"
              formControlName="txtPrice"
            />
            <div
              class="invalid-feedback"
              *ngIf="
                form1.controls['txtPrice'].touched &&
                form1.hasError('required', 'txtPrice')
              "
            >
            {{'Validation.required' | translate}}
            </div>
            <div
              class="invalid-feedback"
              *ngIf="
                form1.controls['txtPrice'].touched &&
                form1.hasError('min', 'txtPrice')
              "
            >
            {{'Validation.price' | translate}}
            </div>
          </div>

          <button
            type="submit"
            class="btn btn-primary w-100 mt-3"
            (click)="onSubmit()"
          >
          {{'RoomTypes.EditRoomType' | translate}}
          </button>
        </form>




      </div>
    </div>
  </div>
</div>
