<!-- Modal -->
<div class="modal fade" [id]="modalId" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          {{ buttonValue }} 
        </h5>
        <button
        #closeModal
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">{{ 'Conf.book' | translate}} {{ buttonValue }} .</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          {{ 'Conf.close' | translate}}
        </button>
        <button type="button" class="btn btn-danger" (click)="onSubmit()">
          {{ buttonValue }}
        </button>
      </div>
    </div>
  </div>
</div>
