.background-grey{
    background-color: #ffffff;
}
th {
    background-color: #F7F9FD;
}

.font-bold{
    font-weight: bold;
}
.button-Edit{
    background-color: #02B7B7;
    color:white;
}

.button-Delete{
    background-color: #B70205;
    color:white;
}

.search-background {
    background-color: #F7F9FD;
}



.background-white{
    background-color: #ffffff;
}

