<div class="modal fade" id="AddUSerToRole" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          {{ 'Roles.AddUserTo' | translate}} {{ selectedRoleName }} 
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form">
          <div class="form-group">
            <label>{{ 'Users.username' | translate}}</label>
            <select
              class="form-select"
              formControlName="selectUser"
              aria-label="Room Type"
            >
              <option
                *ngFor="let user of usersNotInRole"
                [value]="user.username"
              >
                {{ user.username }}
              </option>
            </select>
            <span
            class="invalid-feedback"
              *ngIf="
                form.controls['selectUser'].touched &&
                form.hasError('required', 'selectUser')
              "
            >
              {{ 'Validation.required' | translate}}</span
            >
          </div>

          <button
            type="submit"
            class="btn btn-primary w-100 mt-3"
            (click)="onSubmit()"
          >
          {{ 'Roles.AddUserToRole' | translate}}
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
