<div class="container-fluid vh-100 overflow-auto">
  <div class="row h2 mb-3 mt-4">Roles</div>

  <div class="row me-2">
    <div class="search-background container pt-3 rounded-top-4"></div>
  </div>
  <div class="row me-2">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Role Name</th>
          <th scope="col" class="col-8"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let role of roles; let i = index">
          <td class="align-content-center font-bold" scope="row">
            {{ i + 1 }}
          </td>
          <td class="align-content-center">{{ role.name }}</td>

          <td class="text-end pe-3">
            <a
              href="#"
              class="btn btn-outline-light btn-lg active button-Add me-1"
              role="button"
              data-bs-target="#AddUSerToRole"
              data-bs-toggle="modal"
              (click)="selectRole(role.name)"
            >
              <i class="bi bi-person-fill-add"></i> Add User To Role</a
            >

            <a
              href="#"
              class="btn btn-outline-light btn-lg active button-Delete me-1"
              role="button"
              data-bs-target="#RemoveUSerFromRole"
              data-bs-toggle="modal"
              (click)="selectRole(role.name)"
            >
              <i class="bi bi-person-fill-dash"></i> Delete User From Role</a
            >

            <a
              class="btn btn-info btn-lg active me-3 button-Show"
              role="button"
              data-bs-toggle="modal"
              data-bs-target="#ShowUsersInRole"
              (click)="selectRole(role.name)"
            >
              <i class="bi bi-people-fill"></i>
              Show Users In Role</a
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<app-show-users-in-role
  [selectedRoleName]="selectedRoleName"
></app-show-users-in-role>

<app-remove-user-from-role
  [selectedRoleName]="selectedRoleName"
></app-remove-user-from-role>

<app-add-user-to-role
  [selectedRoleName]="selectedRoleName"
></app-add-user-to-role>
