<div class="container-fluid vh-100 overflow-auto">
  <div class="row h2 mb-3 mt-4">{{ 'Invoices.Invoices' | translate}}</div>

  <div class="row me-2 search-background rounded pt-3">
    <div class="d-flex justify-content-between align-items-center gap-1">
      <label class="me-3 text-nowrap">{{ 'Invoices.PaymentStatus' | translate}}</label>
      <select
        #paymentStatusSearch
        class="form-select me-3"
        aria-label="Default select example"
      >
        <option selected value="">{{ 'Crud.All' | translate}}</option>
        <option value="Paid">{{ 'Invoices.Paid' | translate}}</option>
        <option value="UnPaid">{{ 'Invoices.Unpaid' | translate}}</option>
      </select>

      <label class="me-3 text-nowrap">{{ 'Guests.GuestName' | translate}}</label>
      <input
        #guestNameSearch
        class="form-control me-2"
        type="search"
        [placeholder]="'Guests.GuestName' | translate"
        aria-label="Search"
      />

      <label class="me-3 text-nowrap">{{ 'Rooms.RoomType' | translate}}</label>
      <input
        #roomTypeSearch
        class="form-control"
        type="search"
        [placeholder]="'Rooms.RoomType' | translate"
        aria-label="Search"
      />

      <button
        class="btn btn-success text-nowrap ms-1"
        (click)="onApplyFilters()"
      >
      <i class="bi bi-funnel-fill"></i>  {{ 'Crud.ApplyFilters' | translate}}
      </button>
    </div>
  </div>
  <div class="row me-2">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">{{ 'Invoices.InvoiceNumber' | translate}}</th>
          <th scope="col">{{ 'Guests.GuestName' | translate}}</th>
          <th scope="col">{{ 'Rooms.RoomType' | translate}}</th>
          <th scope="col">{{ 'Invoices.InvoiceDate' | translate}}</th>
          <th scope="col">{{ 'Invoices.Duration' | translate}}</th>
          <th scope="col">{{ 'Invoices.PricePerDay' | translate}}</th>
          <th scope="col">{{ 'Invoices.TotalAmount' | translate}}</th>
          <th scope="col">{{ 'Invoices.PaymentStatus' | translate}}</th>
          <th scope="col" class="col-3"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let invoice of invoices; let i = index">
          <td class="align-content-center font-bold" scope="row">
            {{ i + 1 }}
          </td>
          <td class="align-content-center">
            {{ invoice.id }}
          </td>
          <td class="align-content-center">{{ invoice.guestName }}</td>
          <td class="align-content-center">{{ invoice.roomType }}</td>
          <td class="align-content-center">
            {{ invoice.invoiceDate | date : "dd/MM/yyyy" }}
          </td>
          <td class="align-content-center">{{ invoice.duration }}</td>
          <td class="align-content-center">{{ invoice.pricePerDay }}</td>
          <td class="align-content-center">{{ invoice.totalAmount }}</td>
          <td class="align-content-center">
            <div
              class="text-center p-2 badge2"
              [ngClass]="{
              'bg-success': invoice.paymentStatus == 'Paid',
              'bg-danger': invoice.paymentStatus == 'UnPaid',
            
            }"
            >
              <span> {{ invoice.paymentStatus }}</span>
            </div>
          </td>

          <td class="text-end pe-3">
            <a *ngIf="invoice.paymentStatus=='UnPaid'"
              class="btn btn-info btn-lg active me-2 button-Edit"
              role="button"
              aria-pressed="true"
              data-bs-target="#MarkAsPaidModal"
              data-bs-toggle="modal"
              (click)="selectInvoiceId(invoice.id)"
            >
            {{ 'Invoices.MarkAsPaid' | translate}}</a
            >


          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<app-mark-as-paid
  [modalId]="'MarkAsPaidModal'"
  [invoiceId]="selectedInvoiceId"
  [buttonValue]=" 'Invoices.MarkAsPaid' | translate"
></app-mark-as-paid>
