<div class="container-fluid vh-100 overflow-auto">
  <div class="row h2 mb-3 mt-4">{{ 'Bookings.Bookings' | translate}} </div>
  <div class="row me-2">
    <div class="search-background container pt-3 rounded-top-4">
      <div class="d-flex justify-content-between align-items-center gap-1">
        <label class="me-3">{{ 'Bookings.status' | translate}} </label>
        <select
          #statusSearch
          class="form-select me-3"
          aria-label="Default select example"
        >
          <option selected value="">{{ 'Crud.All' | translate}}</option>
          <option value="Checked-In">{{ 'Bookings.Checked-In' | translate}}</option>
          <option value="Checked-Out">{{ 'Bookings.Checked-Out' | translate}}</option>
          <option value="Confirmed">{{ 'Bookings.Confirmed' | translate}}</option>
          <option value="Canceled">{{ 'Bookings.Canceled' | translate}}</option>
        </select>

        <label class="me-3 text-nowrap">{{ 'Guests.GuestName' | translate}}</label>
        <input
          #guestNameSearch
          class="form-control me-2"
          type="search"
          [placeholder]="'Guests.GuestName' | translate"
          aria-label="Search"
        />

        <label class="me-3 text-nowrap">{{ 'Rooms.RoomNumber' | translate}}</label>
        <input
          #roomNumberSearch
          class="form-control"
          type="search"
          [placeholder]="'Rooms.RoomNumber' | translate"
          aria-label="Search"
        />

        
        <label class="me-3 text-nowrap">{{ 'Bookings.CheckIn' | translate}} </label>
        <input
          #checkInDate
          class="form-control"
          type="date"
          
          aria-label="Search"
        />

        <label class="me-3 text-nowrap">{{ 'Bookings.CheckOut' | translate}}  </label>
        <input
          #checkOutDate
          class="form-control"
          type="date"
          aria-label="Search"
        />

        

        <button
          class="btn btn-success text-nowrap ms-1"
          (click)="applyFilters()"
        >
        <i class="bi bi-funnel-fill"></i>  {{ 'Crud.ApplyFilters' | translate}} 
        </button>

        <a
          class="btn btn-lg active btn-primary text-nowrap ms-3"
          role="button"
          aria-pressed="true"
          data-bs-toggle="modal"
          data-bs-target="#AddBooking"
        >
          <i class="bi bi-plus"></i> {{ 'Bookings.AddBooking' | translate}} 
        </a>
      </div>
    </div>
  </div>
  <div class="row me-2">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">{{ 'Rooms.RoomNumber' | translate}} </th>
          <th scope="col">{{ 'Guests.GuestName' | translate}} </th>
          <th scope="col">{{ 'Bookings.ExpectedCheckIn' | translate}} </th>
          <th scope="col">{{ 'Bookings.ExpectedCheckOut' | translate}} </th>
          <th scope="col">{{ 'Bookings.ActualCheckIn' | translate}}</th>
          <th scope="col">{{ 'Bookings.ActualCheckOut' | translate}} </th>
          <th scope="col">{{ 'Invoices.PaymentStatus' | translate}}</th>

          <th scope="col">{{ 'Bookings.status' | translate}}</th>

          <th scope="col">{{ 'Bookings.Actions' | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of bookings; let i = index">
          <td class="align-content-center font-bold" scope="row">
            {{ i + 1 }}
          </td>
          <td class="align-content-center">{{ book.roomNumber }}</td>
          <td class="align-content-center">{{ book.guestName }}</td>
          <td class="align-content-center">
            {{ book.expectedcheckInDate | date : "dd/MM/yyyy" }}
          </td>
          <td class="align-content-center">
            {{ book.expectedcheckOutDate | date : "dd/MM/yyyy" }}
          </td>
          <td class="align-content-center">
            {{ book.actualcheckInDate | date : "dd/MM/yyyy" }}
          </td>
          <td class="align-content-center">
            {{ book.actualcheckOutDate | date : "dd/MM/yyyy" }}
          </td>
          <td class="align-content-center">
            <div
              class="text-center p-2 badge2"
              [ngClass]="{
              'bg-success': book.paymentStatus == 'Paid',
              'bg-danger': book.paymentStatus == 'UnPaid',
            
            }"
            >
              <span> {{ book.paymentStatus }}</span>
            </div>
          </td>

          <td class="align-content-center">
            <div
              class="text-center p-2 badge2"
              [ngClass]="{
                'bg-success': book.status == 'Checked-In',
                'bg-warning check-Out': book.status == 'Checked-Out',
                'bg-secondary': book.status == 'Canceled',
                'bg-primary': book.status == 'Confirmed'
              }"
            >
              <span> {{ book.status }}</span>
            </div>
          </td>

          <td class="col">
            <div class="btn-group">
              <button
                type="button"
                class="btn btn-outline-danger dropdown-toggle"
                data-bs-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
              {{ 'Bookings.Actions' | translate}}
              </button>
              <div class="dropdown-menu ">
                <a *ngIf="book.paymentStatus!='Paid' && book.status=='Checked-In'"
                  class="dropdown-item text-primary cusrsor-pointer"
                  data-bs-target="#GenerateModal"
                  data-bs-toggle="modal"
                  title="Generate Invoice"
                  (click)="selectBooking(book.id)"
                >
                  <i class="bi bi-receipt"></i> {{ 'Bookings.GenerateInvoice' | translate}}</a
                >
                <a 
                  class="dropdown-item text-info cusrsor-pointer"
                  data-bs-target="#EditBooking"
                  data-bs-toggle="modal"
                  title="Edit Booking"
                  (click)="selectBooking(book.id)"
                >
                  <i class="bi bi-pencil-square"> </i> {{ 'Crud.Edit' | translate}}</a
                >
                <a
                  class="dropdown-item text-danger cusrsor-pointer"
                  data-bs-target="#deleteConnfirmation"
                  data-bs-toggle="modal"
                  (click)="selectBooking(book.id)"
                  title="Delete Booking"
                >
                  <i class="bi bi-trash-fill"></i> {{ 'Crud.Delete' | translate}}</a
                >

                <a
                *ngIf="book.status=='Confirmed'"
                  class="dropdown-item text-success cusrsor-pointer"
                  data-bs-target="#checkInModal"
                  data-bs-toggle="modal"
                  (click)="selectBooking(book.id)"
                  title="Check-In"
                >
                  <i class="bi bi-arrow-right-circle-fill"></i> {{ 'Bookings.CheckIn' | translate}}</a
                >

                <a *ngIf="book.status=='Checked-In'"
                  class="dropdown-item text-warning cusrsor-pointer"
                  data-bs-target="#checkOutModal"
                  data-bs-toggle="modal"
                  (click)="selectBooking(book.id)"
                  title="Check-Out"
                >
                  <i class="bi bi-arrow-left-circle-fill"></i> {{ 'Bookings.CheckOut' | translate}}</a
                >

                <a
                *ngIf="book.status=='Confirmed'"
                  class="dropdown-item text-secondary cusrsor-pointer"
                  data-bs-target="#cancelModal"
                  data-bs-toggle="modal"
                  (click)="selectBooking(book.id)"
                  title="Cancel Booking"
                >
                  <i class="bi bi-calendar-x-fill"></i> {{ 'Bookings.CancelBooking' | translate}}</a
                >
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<app-add-booking></app-add-booking>
<app-delete-confirm
  (onRefresh)="LoadAll()"
  [id]="selectedBookingId"
  [deletePath]="'Booking/'"
></app-delete-confirm>

<app-confirmation
  (onRefresh)="LoadAll()"
  [modalId]="'checkInModal'"
  [bookingId]="selectedBookingId"
  [buttonValue]="'Bookings.CheckIn' | translate"
  [path]="'Booking/CheckIn'"
></app-confirmation>

<app-confirmation
  (onRefresh)="LoadAll()"
  [modalId]="'checkOutModal'"
  [bookingId]="selectedBookingId"
  [buttonValue]="'Bookings.CheckOut' | translate"
  [path]="'Booking/CheckOut'"
></app-confirmation>

<app-confirmation
  (onRefresh)="LoadAll()"
  [modalId]="'cancelModal'"
  [bookingId]="selectedBookingId"
  [buttonValue]=" 'Bookings.CancelBooking' | translate"
  [path]="'Booking/CancelBooking'"
></app-confirmation>

<app-confirmation
  (onRefresh)="LoadAll()"
  [modalId]="'GenerateModal'"
  [bookingId]="selectedBookingId"
  [buttonValue]=" 'Bookings.Generate Invoice' | translate"
  [path]="'Invoice/GenerateInvoice'"
></app-confirmation>
<app-edit-booking [selectedBookingId]="selectedBookingId"></app-edit-booking>