th {
    background-color: #F7F9FD;
}

.font-bold{
    font-weight: bold;
}
.button-Edit{
    background-color: #02B7B7;
    color:white;
}

.button-Delete{
    background-color: #B70205;
    color:white;
}

.search-background {
    background-color: #F7F9FD;
}

.background-grey{
    background-color: #DFDFDF;
}

.background-white{
    background-color: #ffffff;
}
.badge2{
 
    color: white; 
    border-radius: 15px;
    
    font-size: small;
    font-weight: bold;
   
 

}

.check-Out{
    color: #B70205;
}

.cusrsor-pointer{
    cursor: pointer;
}